/*Variáveis*/
@import url(variaveis.css);


body{
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5,h6{
    font-weight: 900;
}

/*Textos*/
.title{
    font-size: 24px;
}
.subtitle{
    color: #777777;
    font-size: 18px;
    font-weight: 500;
}

/*Header*/
.header {
    background: var(--primary-color);
}


/*Menu de navegação*/
.navbar {
    text-transform: uppercase;
    height: 140px;
}

    /*Logomarca*/
    .navbar-brand{
        position: relative;
    }
    .navbar-brand_img{
        z-index: 9;
        position: relative;
    }
    .navbar-brand::before{
        content: "";
        width: 390%;
        height: 145px;
        position: absolute;
        right: 0;
        top: -9px;
        background: var(--white-color);
    }

    .navbar-collapse{
        padding: 0 30px 0 40px;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-nav{
        height: 70px;
        align-items: center;
    }

    .navbar-up{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
        .navbar-up li{
            display: flex;
        }

        .navbar-up_social a{
            padding: .5rem 0.15625rem
        }

        .navbar-low{
            border-top: solid 1px #e5cf02;
        }

        .navbar-low .nav-link{
            font-size: 13px;
            font-weight: 300;
            color: var(--black-color);
            /*margin: 0 .4em;*/
        }
        .nav-item{
            height: 69px;
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 2px;
        }
        .nav-item:before{
            content: "";
            background: var(--white-color);
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0;
            transition: .3s;
            left: 0;
            opacity: 0;
        }
        .nav-item:hover:before{
            opacity: 1;
        }
        .navbar-nav .nav-item:first-child .nav-link{
            padding-left: 0;
        }
        .navbar-nav .nav-item:last-child .nav-link{
            padding-right: 0;
        }

        .navbar .btn{
            max-width: 170px;
            width: 100%;
            height: 80px;
            padding: 0;
            line-height: 80px;
            border-radius: 10px;
            font-size: 17px;
            font-weight: 500;
        }


/*Icones*/
.icons{
    vertical-align: middle;
}
    .circle-icon{
        background: var(--white-color);
        width: 29px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    .icon-en::before{
        content: url("../images/en.png");
    }
    .icon-es::before{
        content: url("../images/es.png");
    }
    .icon-instagram::before{
        content: url("../images/instagram.png");
    }
    .icon-facebook::before{
        content: url("../images/facebook.png");
    }
    .icon-twitter::before{
        content: url("../images/twitter.png");
    }
    .icon-youtube::before{
        content: url("../images/youtube.png");
    }
    .icon-heart::before{
        content: url("../images/heart.png");
    }

/*Barra de navegação*/
.breadcrumb{
    height: 165px;
    background: var(--light-color);
}
    .breadcrumb-item{
        font-size: 36px;
        text-transform: uppercase;
    }
    .breadcrumb-item.active{
        font-size: 24px;
        color: #999;
    }
    .breadcrumb-item+.breadcrumb-item::before{
        padding: 0 14px;
        color: #ddd;
    }


/*Seção formulário de contato*/
.contact{
    padding: 40px 0;
}

    .contact form textarea{
        height: 210px;
    }
    .contact-sector{
        display: flex;
        justify-content: center;
        margin: 70px 0;
    }
    .contact-sector_item{
        text-align: center;
        margin: 0 2em;
        color: #999;
        font-size: 15px;
    }
        .contact-sector_item h6{
            font-style:italic;
            margin: 0;
            font-size: 15px;
        }



/*Lista de parceitos*/
.partners .carousel-item{
}

/*Definições padrões para formulários*/

form{
    margin: 30px 0;
}
    form label{
        color: #999;
    }

    form .form-control{
        border-radius: 0;
    }



/*Definições padrões para Botões*/
.btn{
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 800;
    padding: .8rem 3rem;
    border: 0;
    transition: .3s;
}

.btn:hover{
    filter: contrast(2);
}
    .btn-danger{
        background: var(--red-color);
    }
    .btn-secondary{
        background: var(--secondary-color) !important;
    }


@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}