/*Cores padronizadas*/
:root {
    --primary-color: #f6ee33;
    --secondary-color: #ff6400;
    --light-color: #eee;
    --white-color: #fff;
    --dark-color: #333;
    --black-color: #000;
    --red-color: #da251b;
    --gradient-primary-secondary:linear-gradient(163deg, #f6c602 0%, #f7941d 100%);
}